body {
  font-family: "Helvetica";
}

.question {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
  padding: 1rem;
}

.question-title {
  font-size: 3rem;
}

.question-answers {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.answer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  height: 5rem;
}

.answer.correct {
  background-color: rgb(60, 189, 0);
}

.answer.incorrect {
  background-color: rgb(215, 0, 0);
}

button {
  border: none;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
}
button:hover {
  filter: brightness(90%);
}

.footer {
  padding-top: 2rem;
}

.footer > button {
  height: 3rem;
  width: 5rem;
}
